@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-image: url("../Images/village-8663792_1280.jpg");
  background-color: violet;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  max-height: max-content;
}

/* styling for flex box for whole website */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.flexbox-item {
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  opacity: 0.9;
}
.flexbox-item-news {
  flex: 20%;
  padding: 20px;
  background-color: #0a99f8;
}
.flexbox-item-main {
  flex: 80%;
  padding: 20px;
  background-color: #481c3e;
}

.flexbox-item-foot {
  width: 100%;
  background-color: black;
  opacity: 0.9;
  bottom: 0;
}
.flexbox-item-foot a {
  float: right;
  margin: 5px;
  color: darkorange;
}
/* nav bar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gold;
  background-color: black;
  opacity: 0.9;
}
.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-links li a:hover:not(.active) {
  background-color: rgb(202, 28, 28);
}
.navbar-links a.active {
  background-color: rgb(202, 28, 28);
}
.toggle-button {
  position: absolute;
  top: 0.75;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
/*styling for pictures */
.preview-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-column {
  float: left;
  width: 25%;
}
.preview-row:after {
  display: table;
  clear: both;
  content: "";
}
.card h3 {
  text-decoration: underline;
}
.card {
  display: inline-block;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 300px;
  overflow: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 350px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.card-body {
  padding: 16px;
  text-align: center;
}
.card-body h3 {
  margin-bottom: 10px;
}

/* Form and contact page styling*/
.flexbox-item-contact-form input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  float: left;
  margin-top: 6px;
  content: "";
  display: table;
  clear: both;
}
.flexbox-item-contact-form fieldset {
  border-radius: 5px;
}
.contact {
  flex-direction: column;
  width: 100%;
  flex: 100%;
}
.container {
  border-radius: 5px;
  padding: 20px;
  background-color: #481c3e;
  margin: 0;
}
.flexbox-item-contact-form {
  border-style: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.4);
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  max-width: fit-content;
}
.flexbox-item-contact-form form {
  max-width: fit-content;
}
.flexbox-item-contact-form input[type="submit"],
input[type="reset"] {
  border-radius: 4px;
}
/* socials styling for contact page*/
.socials h2 {
  text-decoration: underline;
}
.socials a {
  color: white;
  font-size: large;
  padding: 4px;
  text-decoration: none;
}
.socials a:hover {
  color: darkorange;
}
/* styling for different screens */

@media screen and (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  body {
    background-position: center;
    font-size: x-large;
  }
  .flex-container {
    flex-direction: column;
    justify-self: unset;
  }
  .preview-row {
    display: block;
  }
  .preview-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .card {
    width: 80%;
  }
  .card img {
    height: 200px;
  }
  .card-body {
    height: 220px;
  }
}
